<!DOCTYPE html>

<html>
  <head>
    <title>
      Birthdays
    </title>
  </head>

  <body>
    <form method="POST" action="/response">
      <p>Your name: <input type="text" name="name"></p>
      <p>Your birthday: <input type="date" name="birthday"></p>
      <input type="submit">
    </form>
  </body>
</html>