<div id="form-container">
  <form method="POST" action="/response">
    <div id="name-field">
      <label for="name">Your name</label>
      <input type="text" id="name" name="name">
    </div>

    <div id="date-field">
      <label for="birthday">Your birthday</label>
      <input type="date" id="birthday" name="birthday">
    </div>

    <input id="submit-button" type="submit">
  </form>
</div>