<div id="response-container">
  <div id="birthday-message">
    <p><%= @birthday_message %></p>
  </div>
  
  <% if @is_birthday %>
    <div id="cake-image">
      <img src="<%= @cake %>" alt="Birthday cake">
    </div>
  <% end %>
</div>
