<!DOCTYPE html>

<html>
  <head>
    <title>
      Birthdays
    </title>
  </head>

  <body>
    <h1>Hello <%= @name %></h2>
    <p>Your birthday is: <%= @day %>/<%= @month %>/<%= @year %></p>
  </body>
</html>