<!DOCTYPE html>

<html>
  <head>
    <link href="/style.css" rel="stylesheet" type="text/css" />
    
    <title>
      Birthdays
    </title>
  </head>

  <body>
    <div id="response-container">
      <p id="greeting">Hello <%= @name %></p>
      <p id="birthday-message">Your birthday is in <%= @days_left %> days on <%= @next_birthday %></p> %>
    </div>
  </body>
</html>