<div id="response-container">
  <div class="<%= @fontstyle %>">
    <p><%= @message %></p>
    <p><% if @is_birthday %><%= @name %>!<% end %></p>
  </div>
  
  <% if @is_birthday %>
    <div id="cake-image">
      <figure>
        <img src="<%= @cake %>" alt="Birthday cake">
        <figcaption>Cake by <a href="https://github.com/CorinneBosch/">Corinne</a></figcaption>
      </figure>
    </div>
  <% end %>
</div>
