<!DOCTYPE html>

<html>
  <head>
    <title>
      Birthdays
    </title>
  </head>

  <body>
    <div id="response-container">
      <p id="greeting">Hello <%= @name %></p>
      <p id="birthday-message">Your birthday is: <%= @day %>/<%= @month %>/<%= @year %></p>
    </div>
  </body>
</html>