<div id="response-container">
  <div id="birthday-message" class="<%= @fontstyle %>">
    <p><%= @birthday_message %></p>
    <p><% if @is_birthday %><%= @name %>!<% end %></p>
  </div>
  
  <% if @is_birthday %>
    <div id="cake-image">
      <figure>
        <img src="<%= @cake %>" alt="Birthday cake">
        <figcaption>Cakes by Corrine</figcaption>
      </figure>
    </div>
  <% end %>
</div>
